* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 40px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

ol {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 50px;
    position: relative;
}

ol li {
    width: 100%;
    flex-shrink: 0;
    color: aqua;
    position: absolute;
}

ol li:nth-child(1) {
    left: 0;
}

ol li:nth-child(2) {
    left: 100%;
}

ol li:nth-child(3) {
    left: 200%;
}

ol li:nth-child(4) {
    left: 300%;
}